:host {
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  background: var(--background);
  cursor: pointer;
  /*overflow: hidden;*/
}

:host(:hover) {
  background: var(--background-hover);
}

:host(:focus),
:host([focused]) {
  background-color: var(--background-active);
}

:host(:disabled) {
  color: var(--foreground-disabled);
  background: var(--background);
  cursor: not-allowed;
}

:host(.selected) {
  background: var(--background-selected);
}

.control {
  color: inherit;
  align-items: center;
  background-color: inherit;
  box-sizing: border-box;
  padding: var(--padding-t) var(--padding-r) var(--padding-b) var(--padding-l);
  outline: none;
}

.control:not(:focus-visible) {
  outline: none;
}

.icon {
  display: inline-flex;
  width: var(--font-size);
  height: var(--font-size);
  justify-content: center;
  align-items: center;
  transform: scale3d(0.6, 0.6, 0.6);
  transform-origin: center center;
}
.icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
