:host {
  position: relative;
  fill: var(--foreground);
  display: inline-flex;
  flex-direction: column;
  min-width: var(--control-min-width);
  word-break: keep-all;
}

:host {
  outline: none;
}

.control {
  position: relative;
  fill: inherit;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: inline-flex;
  border: var(--border-width) solid var(--border-color);
  padding: var(--padding-t) var(--padding-l) var(--padding-b) var(--padding-l);
  cursor: pointer;
}

:host(:focus) .control {
  border-color: var(--border-color-active);
}

:host(:disabled) .control {
  cursor: not-allowed;
  border-color: var(--border-color-disabled);
}

.selected-value {
  flex: 1;
}

.icon-indicator {
  width: var(--font-size);
  height: var(--font-size);
  vertical-align: middle;
}

.listbox {
  --padding-t: calc(var(--fc-unit-size) * 4);
  --padding-b: calc(var(--fc-unit-size) * 4);
  --client-height: calc(var(--border-width) + var(--padding-b) + var(--padding-t) + var(--font-size));
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  background: var(--box-background);
  padding: var(--padding-t) var(--padding-r) var(--padding-b) var(--padding-l);
  max-height: var(--max-height, 164px);
  overflow: auto;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
}

.listbox[position='bottom'] {
  top: 0;
  margin-top: calc(var(--client-height) - var(--border-width));
}

.listbox[position='top'] {
  bottom: 0;
  margin-bottom: calc(var(--client-height) - var(--border-width));
}

.listbox[hidden] {
  display: none;
}

.listbox[has-options] slot[name='empty'] {
  display: none;
}

slot[name='empty'] {
  color: var(--foreground-disabled);
}

.indicator {
  pointer-events: none;
}
.indicator svg {
  fill: currentColor;
  width: calc(var(--font-size) * 0.8);
  height: calc(var(--font-size) * 0.8);
}
