:host {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
}

:host(:not(:disabled)) {
  cursor: pointer;
}

:host(:disabled) {
  background: none;
}

:host(:focus-visible)::after {
  content: unset;
}

.checkbox.control {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--font-size);
  height: var(--font-size);
  margin-left: var(--stroke-width);
  overflow: visible;
  background: var(--background);
  box-shadow: inset var(--stroke);
  border-radius: var(--border-radius);
  user-select: none;
}

.checkbox .default-indicator {
  display: inline-block;
  width: 100%;
  height: 100%;
  /*border: var(--stroke-width) solid var(--stroke-color);*/
  box-sizing: border-box;
}

:host(:is([checked], [indeterminate])) .control {
  background: var(--accent-color);
  box-shadow: none;
}

:host([checked]) .default-indicator,
:host([indeterminate]) .default-indicator {
  display: none;
}

:host(:not([disabled])) .control:hover,
:host(:not([readonly])) .control:hover {
  --background: var(--background-hover);
}

:host(:not([disabled]):not([readonly])[checked]) .control:hover {
  --background: var(--accent-color-hover);
}

:host(.readonly) .control,
:host([disabled]) .control {
  --background: var(--background-disabled) !important;
  cursor: not-allowed;
}

:host([disabled][checked]) .control,
:host(.readonly[checked]) .control {
  --background: var(--accent-color-disabled) !important;
}
:is(:host(.readonly), :host([disabled])) .label {
  color: var(--foreground-disabled);
  cursor: auto;
}

.checked-indicator,
::slotted([slot='checked-indicator']) {
  display: none;
}

.checked-indicator,
::slotted([slot='indeterminate-indicator']) {
  display: none;
}

:host([checked]) .checked-indicator,
:host([checked]) ::slotted([slot='checked-indicator']) {
  display: inline-flex;
}

:host([indeterminate]) .indeterminate-indicator,
:host([checked]) ::slotted([slot='indeterminate-indicator']) {
  display: inline-flex;

  width: 60%;
  height: calc(var(--fc-unit-size) * 2);
  background: var(--foreground);
  /*border-radius: var(--border-radius);*/
}

.label {
  margin-left: calc(var(--font-size) / 2);
  cursor: inherit;
  user-select: var(--user-select);
}
