:host {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--box-background);
  opacity: 0.5;
  outline: none;
}

.control {
  position: relative;
  background: var(--box-background);
  box-shadow: var(--box-shadow);
  width: fit-content;
  height: fit-content;
}
