:host {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  overflow: auto;
  z-index: 999;

  padding: calc(var(--fc-unit-size) * 6);
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--box-background);
  opacity: 0.5;
  outline: none;
}

.control {
  margin: auto;
  position: relative;
  background: var(--box-background);
  box-shadow: var(--box-shadow);
  width: fit-content;
  height: fit-content;
}
