:host {
  display: inline-block;
}

:host(:not([open])) .listbox {
  display: none;
}

.listbox {
  position: absolute;
  z-index: 9;
}

.button {
  font: inherit;
  display: block;
  background: var(--background);
  padding: var(--padding);
  border: none;
  color: var(--foreground);
  cursor: pointer;
}
