:host {
  position: relative;
  display: inline-block;
}

.button {
  font: inherit;
  display: block;
  background: var(--background);
  padding: var(--padding);
  border: none;
  color: var(--foreground);
  cursor: pointer;
}

.listbox {
  display: none;
  position: absolute;
  z-index: 9;
  /*overflow-y: auto;*/
  background: var(--box-background);
  box-shadow: var(--box-shadow);
}

:host([open]) .listbox {
  display: block;
}

.listbox slot {
  display: block;
  max-height: var(--list-max-height);
}
