:host {
  position: relative;
  display: flex;
  justify-content: var(--data-grid-align);
  padding: var(--padding);
  --outline-offset: 0px;
  --border-radius: 0;
  border-right: var(--border-right-width) solid var(--border-color);
}

:host(:last-child) {
  border-right: 0;
}

:host(:focus)::after {
  content: '';
}
