:host {
  position: relative;
  display: flex;
  justify-content: var(--data-grid-align);
  padding: var(--padding);
  --outline-offset: 0px;
  --border-radius: 0;
  border-right: var(--grid-border-right-width, --border-width) solid var(--border-color);
  border-bottom: var(--grid-border-bottom-width, --border-width) solid var(--border-color);
}

:host(:last-child) {
  border-right: 0;
}

:host(:focus)::after {
  content: '';
  position: absolute;
  left: calc(var(--outline-offset) * -1);
  top: calc(var(--outline-offset) * -1);
  display: block;
  width: calc(100% + var(--outline-offset) * 2 - var(--outline-width) * 2);
  height: calc(100% + var(--outline-offset) * 2 - var(--outline-width) * 2);
  box-sizing: content-box;
  border-radius: var(--border-radius);
  border: var(--outline-width) solid var(--outline-color);
}

:host([role='columnheader']) {
  font-weight: bold;
  background: var(--background);
}
