:host {
  position: relative;
  display: flex;
  justify-content: var(--data-grid-align);
  padding: var(--padding);
  --outline-offset: 0px;
  --border-radius: 0;
  border-right: var(--grid-border-right-width, --border-width) solid var(--border-color);
  border-bottom: var(--grid-border-bottom-width, --border-width) solid var(--border-color);
  vertical-align: middle;
}

:host(:last-child) {
  border-right: 0;
}

:host([role='columnheader']) {
  font-weight: bold;
  background: var(--background-active);
}

.collpase-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  color: var(--foreground);
  padding: var(--padding);
  cursor: pointer;
}
