:host {
  display: inline-flex;
  flex-direction: column;
  min-width: calc(var(--fc-unit-size) * 100);
  min-height: calc(var(--fc-unit-size) * 40);
  border: var(--border-width) solid var(--border-color);
  background: var(--box-background);
  color: var(--foreground);
}

.panel-body {
  flex: 1;
  position: relative;
  overflow-y: auto;
}
