:host {
  --fc-unit-size: 1px;
  --user-select: none;
  --control-min-width: calc(var(--fc-unit-size) * 140);

  /*size*/
  --host-line-height: 1;
  --line-height: 1.5;
  --font-size-xs: calc(var(--fc-unit-size) * 12);
  --font-size-s: calc(var(--fc-unit-size) * 13);
  --font-size-m: calc(var(--fc-unit-size) * 14);
  --font-size-l: calc(var(--fc-unit-size) * 15);
  --font-size-xl: calc(var(--fc-unit-size) * 16);
  --font-size-xxl: calc(var(--fc-unit-size) * 17);
  --font-size-xxxl: calc(var(--fc-unit-size) * 18);
  --border-radius: calc(var(--fc-unit-size) * 2);

  --padding-l: clamp(
    calc(var(--fc-unit-size) * 2),
    calc(var(--font-size) - var(--fc-unit-size) * 7),
    calc(var(--fc-unit-size) * 5)
  );
  --padding-r: var(--padding-l);
  --padding-t: calc(var(--fc-unit-size) * 1);
  /*clamp(
    calc(var(--fc-unit-size) * 2),
    calc(var(--font-size) - var(--fc-unit-size) * 10),
    calc(var(--fc-unit-size) * 5)
  );*/
  --padding-b: var(--padding-t);
  --padding: var(--padding-t) var(--padding-r) var(--padding-b) var(--padding-l);

  --border-width: calc(var(--fc-unit-size) * 1);

  /*color variables*/
  --black: hsl(0, 0%, 0%);
  --blue: hsl(210, 50%, 60%);
  --blue-vibrant: hsl(203, 98%, 56%);
  --blue2: hsla(210, 13%, 40%, 0.75);
  --blue3: hsla(210, 7%, 40%, 0.5);
  --blue4: hsl(210, 7%, 40%);
  --blue5: hsla(203, 98%, 56%, 0.5);
  --blue6: hsl(203, 98%, 64%);
  --green: hsl(114, 31%, 68%);
  --darker-grey: hsl(0, 0%, 30%);
  --dark-grey: hsl(0, 0%, 40%);
  --grey: hsl(0, 0%, 50%);
  --light-grey: hsl(0, 0%, 60%);
  --lighter-grey: hsl(0, 0%, 65%);
  --orange: hsl(32, 93%, 66%);
  --orange2: hsl(32, 85%, 55%);
  --orange3: hsl(40, 94%, 68%);
  --pink: hsl(300, 30%, 68%);
  --red: hsl(357, 79%, 65%);
  --red2: hsl(13, 93%, 66%);
  --white: hsl(0, 0%, 100%);
  --white2: hsl(0, 0%, 97%);
  --white3: hsl(219, 28%, 88%);

  --box-background: hsla(203, 7%, 7%, 1);

  /* foreground colors*/
  --foreground: hsla(255, 0%, 90%, 1);
  --foreground-hover: hsla(255, 0%, 62%, 1);
  --foreground-disabled: hsla(255, 0%, 62%, 1);
  --foreground-selected: hsla(255, 0%, 100%, 1);

  /*background colors*/
  --background: hsla(203, 7%, 34%, 1);
  --background-hover: hsla(203, 3%, 44%, 1);
  --background-active: hsla(203, 3%, 49%, 1);
  --background-selected: hsla(203, 14%, 42%, 1);
  --background-selected-disabled: hsla(203, 34%, 47%, 1);
  --background-selected-hover: var(--background-selected);
  --background-selected-active: var(--background-selected);
  --background-disabled: hsla(203, 0%, 27%, 1);

  /*border-colors*/
  --border-color: hsla(203, 9%, 37%, 1);
  --border-color-hover: hsla(203, 9%, 37%, 1);
  --border-color-selected: hsla(203, 9%, 37%, 1);
  --border-color-active: hsla(203, 9%, 43%, 1);
  --border-color-disabled: hsla(203, 0%, 34%, 1);

  --outline-offset: calc(var(--fc-unit-size) * 1);
  --outline-width: calc(var(--fc-unit-size) * 1);
  --outline-color: hsla(32, 92%, 66%, 0.7);

  --accent-color: hsl(203, 92%, 56%);
  --accent-color-hover: hsl(203, 92%, 66%);
  --accent-color-disabled: hsla(203, 98%, 56%, 0.5);
  --caret: hsl(32, 93%, 66%);
  --line-highlight: var(--blue2);
  --selection: hsla(210, 13%, 40%, 0.75);
  --selection-border: var(--blue4);
  --inactive-selection: var(--blue2);
  --misspelling: var(--red);
  --shadow: hsla(0, 0%, 0%, 0.25);
  --active-guide: var(--blue5);
  --stack-guide: hsla(180, 36.17%, 53.92%, 0.5);
  --highlight: var(--blue5);
  --find-highlight-foreground: var(--grey);
  --find-highlight: var(--orange3);

  --stroke-width: calc(var(--fc-unit-size) * 1);
  --stroke-color: rgba(0, 0, 0, 0.15);
  --stroke: 0 0 0 var(--stroke-width) var(--stroke-color);

  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --box-shadow-offset-x: 0;
  --box-shadow-offset-y: 0;
  --box-shadow-offset-blur: calc(var(--fc-unit-size) * 5);
  --box-shadow-offset-spread: 0;
  --box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-offset-blur)
    var(--box-shadow-offset-spread) var(--box-shadow-color);
}

:host {
  line-height: var(--line-height);
  --font-size: var(--font-size-xs);
  font-size: var(--font-size);
  user-select: var(--user-select);
  color: var(--foreground);
  fill: currentColor;
  border-radius: var(--border-radius);
}

:host([sharp]) {
  border-radius: 0;
}

:host([outline]) .control {
  border-color: var(--border-color);
}

:host([outline]:hover) .control {
  border-color: var(--border-color-hover);
}

:host([outline]:focus-within) .control {
  border-color: var(--border-color-active);
}

:host(:disabled) {
  background-color: var(--background-disabled);
}

:host([outline]:disabled) {
  border-color: var(--border-color-disabled);
}

:host([hidden]) {
  display: none;
}

:host([size='xs']) {
  --font-size: var(--font-size-xs);
}
:host([size='s']) {
  --font-size: var(--font-size-s);
}
:host([size='m']) {
  --font-size: var(--font-size-m);
}
:host([size='l']) {
  --font-size: var(--font-size-l);
}
:host([size='xl']) {
  --font-size: var(--font-size-xl);
}
:host([size='xxl']) {
  --font-size: var(--font-size-xxl);
}
:host([size='xxxl']) {
  --font-size: var(--font-size-xxxl);
}

:host *:not(:focus-visible) {
  outline: none;
}

.control {
  font: inherit;
  color: inherit;
  cursor: inherit;
  fill: inherit;
  border-radius: inherit;
  height: inherit;
  width: inherit;
  will-change: border-color background-color;
  transition: border-color 0.2s, background-color;
}

:host(:focus-visible) {
  position: relative;
  outline: none;
}

:host(:focus-visible)::after {
  content: '';
  position: absolute;
  left: calc(var(--outline-offset) * -1);
  top: calc(var(--outline-offset) * -1);
  display: block;
  width: calc(100% + var(--outline-offset) * 2 - var(--outline-width) * 2);
  height: calc(100% + var(--outline-offset) * 2 - var(--outline-width) * 2);
  box-sizing: content-box;
  border-radius: var(--border-radius);
  border: var(--outline-width) solid var(--outline-color);
}
