:host {
  display: grid;
  grid-auto-flow: row;
  grid: 1fr / auto-flow auto;
  grid-template-columns: repeat(var(--max-cell-count), 1fr);
  border-bottom: var(--border-width) solid var(--border-color);
  border-radius: 0;
}

:host(.sticky[slot='row-header']) {
  background: var(--background);
}
