:host {
  position: relative;
  display: inline-grid;
  --padding-t: var(--padding-l);
  padding: var(--padding);
  background: var(--box-background);
  min-width: var(--control-min-width);
  box-shadow: var(--box-shadow);
}

:host([slot='submenu']) {
  position: absolute;
  /*menu çš„ pading-top: var(--padding-l)*/
  margin-top: var(--menu-margin-top, calc(-1 * var(--padding-t)));
  margin-left: var(--menu-margin-left, var(--padding-l));
}
