:host {
  display: inline-grid;
  --padding-t: var(--padding-l);
  padding: var(--padding);
  background: var(--background);
  min-width: var(--control-min-width);
}

:host([slot='submenu']) {
  /*menu 的 pading-top: var(--padding-l)*/
  margin-top: var(--menu-margin-top, calc(-1 * var(--padding-t)));
  margin-left: var(--menu-margin-left, var(--padding-l));
}
