:host {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

:host(:disabled) {
  background: none;
  cursor: auto;
}

.radio.control {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--font-size);
  height: var(--font-size);
  background: var(--background);
  border-radius: 50%;
  box-shadow: inset var(--stroke);
  user-select: none;
}
:host(:focus-visible)::after {
  content: none;
}

:host(:focus-visible) .radio.control:after {
  border-radius: 50%;
}

.radio .checked-indicator {
  visibility: hidden;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: var(--foreground);
}

.label {
  margin-left: calc(var(--font-size) / 2);
  cursor: pointer;
}

:host([checked]) .control {
  background: var(--accent-color);
  box-shadow: none;
}

:host([checked]) .checked-indicator {
  visibility: visible;
}

:host([disabled]) .control {
  background-color: var(--background-disabled);
  cursor: not-allowed;
}

:host([disabled]) .label {
  color: var(--foreground-disabled);
  cursor: not-allowed;
}
:host([checked][disabled]) .control {
  background-color: var(--accent-color-disabled);
}
:host([disabled]) .checked-indicator {
  background-color: var(--foreground-disabled);
}

:host(.readonly),
:host(.readonly) .control,
:host(.readonly) .label {
  cursor: auto;
}
