:host {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

:host(:disabled) {
  background: none;
  cursor: auto;
}

.control {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--font-size) * 1.334);
  height: calc(var(--font-size) * 1.334);
  background: var(--background);
  border-radius: 50%;
}

:host(:focus-visible) .control:after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  /*transform: scale(1.25);*/
  transform-origin: center center;
  box-sizing: content-box;
  border-radius: 50%;
  padding: var(--outline-offset);
  border: var(--outline-width) solid var(--outline-color);
}

.checked-indicator {
  position: absolute;
  display: none;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: var(--foreground);
}

.label {
  margin-left: calc(var(--font-size) / 2);
  cursor: pointer;
}

:host([checked]) .control {
  /*background: var(--background-selected);*/
  background: var(--accent-color);
}

:host([checked]) .checked-indicator {
  display: block;
}

:host([disabled]) .control {
  background: var(--accent-color-disabled);
  cursor: not-allowed;
}

:host([disabled]) .label {
  color: var(--foreground-disabled);
  cursor: not-allowed;
}
:host([disabled]) .checked-indicator {
  background-color: var(--foreground-disabled);
}

:host(.readonly),
:host(.readonly) .control,
:host(.readonly) .label {
  cursor: auto;
}
