:host {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

:host(:disabled) {
  background: none;
  cursor: auto;
}

.control {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--font-size) * 1.167);
  height: calc(var(--font-size) * 1.167);
  background: var(--background);
  overflow: hidden;
  border-radius: 50%;
}

.checked-indicator {
  position: absolute;
  display: none;
  width: calc(50% - 1px);
  height: calc(50% - 1px);
  border-radius: 50%;
  background: var(--foreground);
}

.label {
  margin-left: calc(var(--font-size) / 2);
  cursor: pointer;
}

:host([checked]) .control {
  background: var(--background-selected);
}

:host([checked]) .checked-indicator {
  display: block;
}

:host([disabled]) .control {
  background: var(--background-disabled);
  cursor: not-allowed;
}

:host([disabled]) .label {
  color: var(--foreground-disabled);
  cursor: not-allowed;
}

:host(.readonly),
:host(.readonly) .control,
:host(.readonly) .label {
  cursor: auto;
}
