:host {
  display: grid;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: var(--grid-template-columns, repeat(var(--max-cell-count), 1fr));

  --grid-border-bottom-width: var(--border-width);
}

:host([grid]) {
  --grid-border-right-width: var(--border-width);
}

:host([max-rows]) {
  overflow-y: auto;
}

:host([sticky]) ::slotted([slot='row-header']) {
  position: sticky;
  left: 0;
  top: 0;
  background: var(--background);
  z-index: 2;
}

:host([outline]) {
  border: var(--border-width) solid var(--border-color);
}

::slotted([role^='row']:last-child) {
  --grid-border-bottom-width: 0;
}
