:host {
  position: relative;
  display: block;
  width: 100%;
  overflow-y: auto;
  --item-height: calc(
    var(--font-size) * var(--line-height) + var(--padding-t) + var(--padding-b) + var(--border-width)
  );
  max-height: calc(var(--item-height) * 11);

  scroll-snap-type: both proximity;
}

::slotted(fc-grid-data-row) {
  grid-template-columns: repeat(var(--max-cell-count), 1fr);
}

:host([sticky]) ::slotted([slot='row-header']) {
  position: sticky;
  left: 0;
  top: 0;
  background: var(--background);
  z-index: 2;
}

:host([outline]) {
  border: var(--border-width) solid var(--border-color);
}

:host([grid]) ::slotted([role^='row']:last-child),
:host([outline]) ::slotted([role^='row']:last-child) {
  border-bottom: 0;
}

:host([grid]) {
  --border-right-width: var(--border-width);
}
:host([grid]) ::slotted([role^='row']) {
  --border-right-width: var(--border-width);
}
