:host {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  cursor: pointer;
  color: var(--foreground);
  border-radius: var(--border-radius);
  background: var(--background);
  padding: var(--padding-t, 0) var(--padding-r, 0) var(--padding-b, 0) var(--padding-l, 0);
  height: fit-content;
  box-sizing: border-box;
  border: var(--border-width) solid transparent;
}

:host([outline]) {
  border: var(--border-width) solid var(--border-color);
}

.control {
  background: none;
  outline: none;
  border: none;
  display: inline-flex;
  justify-self: space-between;
  word-break: keep-all;
  white-space: nowrap;
  line-height: var(--line-height);
  /*user-select: none;*/
  padding: 0;
}

.control .before,
.control .aftter {
  flex-grow: 0;
}
.control .content {
  flex: 1;
}

:host([sharp]) {
  border-radius: 0;
}

:host([selected]) {
  color: var(--foreground-selected);
  background: var(--background-selected);
}

:host([outline]) {
  border-color: var(--border-color);
}

:host([outline][selected]) {
  border-color: var(--border-color-selected);
}

:host(:not(:disabled):focus-visible) {
  background: var(--background-hover);
  border-color: var(--border-color-active);
}

:host(:not([disabled]):hover) {
  background: var(--background-hover);
}

:host([selected]:not([disabled]):hover) {
  background: var(--background-selected-hover);
}

:host([selected][disabled]) {
  background: var(--background-disabled);
}

:host(:not([disabled]):active) {
  background: var(--background-active);
}

:host(:not([disabled])[selectable]:active) {
  background: var(--background-selected-active);
}

:host(:disabled) {
  opacity: 0.3;
  color: var(--foreground-disabled);
  background: var(--background-disabled);
  cursor: not-allowed;
}
:host([outline]:disabled) {
  border-color: var(--border-color-disabled);
}

/*secondary*/
:host([accent='secondary']) {
  background: var(--accent-color);
}
:host(:not([disabled])[accent='secondary']) {
  border-color: var(--accent-color-hover);
}
:host(:not([disabled])[accent='secondary']:hover) {
  background: var(--accent-color-hover);
}

:host(:not([disabled])[accent='secondary']:active) {
  background: var(--accent-color-hover);
}

:host([accent='secondary']) {
  background: var(--accent-color);
}

:host([accent='secondary'][disabled]) {
  background: var(--accent-color-disabled);
}
