:host {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*vertical-align: bottom;*/
  cursor: pointer;
  color: var(--foreground);
  border-radius: var(--border-radius);
  background: var(--background);
  padding: var(--padding);
  box-sizing: border-box;
  user-select: var(--user-select);
}

:host([outline]) {
  border: var(--border-width) solid var(--border-color);
  height: calc(100% - 2 * var(--border-width));
}

.proxy {
  display: none;
}

.control .before,
.control .aftter {
  flex-grow: 0;
}
/*.control .content {
  flex: 1;
}*/

:host([sharp]) {
  border-radius: 0;
}

:host([selected]) {
  color: var(--foreground-selected);
  background: var(--background-selected);
}

:host([outline]) {
  border-color: var(--border-color);
}

:host([outline][selected]) {
  border-color: var(--border-color-selected);
}

/*secondary*/
:host([accent='secondary']) {
  background: var(--accent-color);
}
:host(:not([disabled])[accent='secondary']) {
  border-color: var(--accent-color-hover);
}
:host(:not([disabled])[accent='secondary']:hover) {
  background: var(--accent-color-hover);
}

:host(:not([disabled])[accent='secondary']:active) {
  background: var(--accent-color-hover);
}

:host([accent='secondary']) {
  background: var(--accent-color);
}

:host([accent='secondary'][disabled]) {
  background: var(--accent-color-disabled);
}

:host([accent='ghost']),
:host([accent='ghost']:hover) {
  background: none;
  border: var(--border-width) solid var(--border-color);
}

::slotted(:not([slot])) {
  margin-left: auto;
  margin-right: auto;
}

:host(:not(:disabled):focus-visible) {
  background: var(--background-hover);
  color: var(--foreground-hover);
  border-color: var(--border-color-hover);
}

:host(:not([disabled]):hover) {
  background: var(--background-hover);
  color: var(--foreground-hover);
  border-color: var(--border-color-hover);
}

:host([selected]:not([disabled]):hover) {
  background: var(--background-selected-hover);
}

:host([selected][disabled]) {
  background: var(--background-disabled);
}

:host(:not([disabled]):active) {
  background: var(--background-active);
  color: var(--foreground-active);
  border-color: var(--border-color-active);
}

:host(:not([disabled])[selectable]:active) {
  background: var(--background-selected-active);
}

:host(:disabled) {
  opacity: 0.3;
  color: var(--foreground-disabled);
  --background: var(--background-disabled);
  cursor: not-allowed;
}
:host([outline]:disabled) {
  border-color: var(--border-color-disabled);
}
