:host {
  display: inline-flex;
  vertical-align: bottom;
  cursor: pointer;
  color: var(--foreground);
  border-radius: var(--border-radius);
}

button {
  outline: none;
  border: 1px solid transparent;
  display: inline-flex;
  justify-self: space-between;
  word-break: keep-all;
  white-space: nowrap;
  --padding-l: clamp(2px, calc(var(--font-size) - 7px), 5px);
  --padding-r: var(--padding-l);
  --padding-t: clamp(2px, calc(var(--font-size) - 10px), 5px);
  --padding-b: var(--padding-t);
  line-height: var(--line-height);
  user-select: none;
  padding: var(--padding-t, 0) var(--padding-r, 0) var(--padding-b, 0) var(--padding-l, 0);
}

button .before,
button .aftter {
  flex-grow: 0;
}
button .content {
  flex: 1;
}

:host([sharp]) {
  border-radius: 0;
}

:host([selected]) {
  background: var(--background-selected);
}

:host([outline]) button {
  border-color: var(--border-color);
}

button:not(:disabled):focus-visible {
  background: var(--background-hover);
  border-color: var(--border-active);
}

button:not(:disabled):hover {
  background: var(--background-hover);
}

button:not(:disabled):active {
  background: var(--background-active);
}

button:disabled {
  cursor: auto;
  color: var(--foreground-disabled);
  border-color: var(--border-color-disabled);
}

:host([selected]) button:disabled {
  background: var(--background-disabled);
}
