:host {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: var(--padding-t) var(--padding-r) var(--padding-b) var(--padding-l);
  cursor: pointer;
  box-sizing: border-box;
}

:host(:not([disabled]):hover) {
  background: var(--background-hover);
}

:host([aria-selected='true']) {
  color: var(--foreground-selected);
  background: var(--background-active);
}
:host([aria-selected='true']:hover) {
  /*color: var(--foreground-hover);*/
  background: var(--background-hover);
}

:host([aria-selected='true'][disabled]) {
  color: var(--foreground-disabled);
  background: var(--background-disabled);
}

:host([disabled]) {
  color: var(--foreground-disabled);
  cursor: not-allowed;
}

:host([direction='column']) {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

:host([direction='row']) {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
