:host {
  display: inline-block;
  padding: var(--padding-t) var(--padding-r) var(--padding-b) var(--padding-l);
  cursor: pointer;
}

:host([aria-selected='true']) {
  background: var(--background);
}
