:host {
  position: relative;
  display: inline-flex;
  color: var(--foreground);
  transition: all 0.14s;
  box-sizing: border-box;
  height: fit-content;
  box-sizing: border-box;
}

:host(:focus-visible)::after {
  content: none;
}

.control {
  position: relative;
  display: inline-flex;
  border-radius: var(--border-radius);
  border: var(--border-width) solid transparent;
  padding: var(--padding-t) var(--padding-r) var(--padding-b) var(--padding-l);
  background-color: var(--background);
  transition: all 0.05s;
  min-width: var(--control-min-width);
}

:host([type='file']) .control {
  cursor: pointer;
}

:host([sharp]) {
  --border-radius: 0;
}

:host([orientation='horizontal']) ::slotted([slot='label']),
:host([orientation='horizontal']) .label {
  margin-right: calc(var(--font-size) / 2);
}

:host([orientation='vertical']) {
  flex-direction: column;
}

::slotted([slot='form-associated-proxy']) {
  font: inherit;
  border-radius: inherit;
  padding: 0;
  /*padding: 0 var(--padding-r) 0 var(--padding-l);*/
  width: 100%;
  height: calc(var(--fc-unit-size) * 16);
  /*line-height: var(--line-height);*/
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: var(--caret);
}

:host(:not([disabled]):hover) .control {
  background-color: var(--background-hover);
}

:host(:not([disabled]):focus-visible) .control {
  background-color: var(--background-active);
}

:host([disabled]) .control {
  background: var(--background-disabled);
  color: var(--foreground-disabled);
  cursor: not-allowed;
}
:host([outline][disabled]) .control {
  border-color: var(--border-color-disabled);
}

/*outline*/
:host([outline]) .control {
  border-color: var(--border-color);
}

:host([outline]:focus-within) .control,
:host([outline]:focus-visible) .control {
  border-color: var(--border-color-active);
}
:host([outline]:hover) .control {
  border-color: var(--border-color-hover);
}

slot[has-value='false'] {
  color: var(--foreground-disabled);
}

:host([type='file']) ::slotted([slot='form-associated-proxy']) {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.control:focus-within::after {
  content: '';
}
